<!--
 Copyright 2016 Google Inc.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kart - Norsk Folkemuseum</title>

    <environment names="Development">
        <link rel="stylesheet" type="text/css" href="~/css/inline.css">
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/inline.min.css" asp-append-version="true" />
    </environment>

    <!-- Load JQuery -->
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>

    <!-- Load the Sounds of Street View code -->
    <script src="~/js/howler.min.js"></script>
    <script src="~/js/sosv.min.js"></script>

    <link rel="manifest" href="/manifest.json">
    <!-- Add to home screen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Kart - Norsk Folkemuseum">
    <link rel="apple-touch-icon" href="images/icons/icon-152x87.png">
    <meta name="msapplication-TileImage" content="images/icons/icon-192x110.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
</head>
<body>
    <header class="header">
        <div class="circle"></div>
        <h1 class="header__title">NORSK FOLKEMUSEUM</h1>
    </header>
    @RenderBody()
    <footer class="footer">
        <div class="footer-welcome-message">
            <div><strong>Velkommen, kjære besøkende.</strong></div>
            <div><strong>Koble til ditt hodesett til enheten din og nyt lydopplevelsen.</strong></div>
            <div><strong>Vi ønsker deg en flott tur!</strong></div>
            <div class="count-down-message"><strong>Lydspor spilles om: <span id="count-down">Laster...</span></strong></div>
            <div class="no-sound-message"><strong>Fant ingen lydspor i denne lokasjonen.</strong></div>
            <button id="mute-sound-button" class="sound-button" onclick="muteSound()">Mute</button>
            <button id="unmute-sound-button" class="sound-button" onclick="unmuteSound()">Unmute</button>
        </div>
        <div>
            <div class="footer-svg">@Html.Partial("~/Views/Shared/_LogoSvg.cshtml")</div>
            <div>NORSK FOLKEMUSEUM</div>
            <div>Museumsveien 10, Bygdøy, 0287 Oslo</div>
            <div>TELEFON (+47) 22 12 37 00</div>
            <div>E-POST post@norskfolkemuseum.no</div>
        </div>
        <div class="footer-social">
            <a href="https://nb-no.facebook.com/NorskFolkemuseum" target="_blank" class="footer-social-item">
                <img class="footer-social-item-img" src="~/images/icons/facebook.PNG"> Facebook
            </a>
            <a href="https://twitter.com/folkemuseet" target="_blank" class="footer-social-item">
                <img class="footer-social-item-img" src="~/images/icons/twitter.PNG"> Twitter
            </a>
            <a href="https://instagram.com/norskfolkemuseum/" target="_blank" class="footer-social-item">
                <img class="footer-social-item-img" src="~/images/icons/instagram.PNG"> Instagram
            </a>
            <a href="https://www.youtube.com/user/Folkemuseum" target="_blank" class="footer-social-item">
                <img class="footer-social-item-img" src="~/images/icons/youtube.PNG"> Youtube
            </a>
            <a href="https://no.tripadvisor.com/Attraction_Review-g190479-d246066-Reviews-The_Norwegian_Museum_of_Cultural_History-Oslo_Eastern_Norway.html" target="_blank" class="footer-social-item">
                <img class="footer-social-item-img" src="~/images/icons/tripadvisor.PNG"> Tripadvisor
            </a>
        </div>
    </footer>
    <environment names="Development">
        <script src="~/js/app.js" async asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/app.min.js" async asp-append-version="true"></script>
    </environment>
    
    @RenderSection("scripts", required: false)

</body>
</html>
