<main class="main">
    <div id="map" class="map"></div>
</main>

<script>
    var map;
    var infoWindow;
    var timer;
    function initMap() {
        //var norskfolkemuseum = { lat: 59.907216, lng: 10.685997 };
        var mapOptions = {
            zoom: 18,
            //center: norskfolkemuseum,
            mapTypeId: 'satellite'
        };
        map = new google.maps.Map(document.getElementById('map'), mapOptions);
        infoWindow = new google.maps.InfoWindow;

        if (navigator.geolocation) {
            timer = setInterval(function() {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var currentPosition = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                
                    //The below code sets the map position equal to current user position
                    infoWindow.setPosition(currentPosition);
                    infoWindow.setContent('Du er ca. her.');
                    infoWindow.open(map);
                    map.setCenter(currentPosition);

                    //Marker
                    //var marker = new google.maps.Marker({
                    //    position: currentPosition,
                    //    map: map
                    //});
                }, function() {
                    handleLocationError(true, infoWindow, map.getCenter(), true);
                });
            }, 1000);
        } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter(), false);
        }
    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos, interval) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
            'Error: Geolokasjon tjenesten feilet.' :
            'Error: Din nettleser støtter ikke geolokasjon.');
        infoWindow.open(map);
        //Break out of timer interval
        if (interval) clearInterval(timer);
    }
    
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAL0vmWCIztR6B0zTPhFcHjEFoU2CqtVrw&callback=initMap" async defer></script>