<main class="main">
    <div id="dummy-map" class="dummy-map"></div>
    <div id="map" class="map"></div>
</main>


<script>

    google.maps.Polygon.prototype.getBoundingBox = function() {
        var bounds = new google.maps.LatLngBounds();

        this.getPath().forEach(function(element,index) {
            bounds.extend(element)
        });

        return(bounds);
    };

    var locationTimer;
    var exitInterval = false;
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 18,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });

        var marker = null;
        var infoWindow = new google.maps.InfoWindow;

        if (navigator.geolocation) {
            locationTimer = setInterval(function () {
                navigator.geolocation.watchPosition(function (position) {
                    var newPoint = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

                    // add polygons here
                    var newPoly = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

                    // trianglepoly: slottsparken utenfor MW:
                    var triangleCoords = [
                        new google.maps.LatLng(59.91827,10.72886),
                        new google.maps.LatLng(59.91921,10.73023),
                        new google.maps.LatLng(59.91886,10.72843)
                    ];

                    myPolygon = new google.maps.Polygon({
                        paths: triangleCoords,
                        draggable: true, // turn off if it gets annoying
                        editable: true,
                        strokeColor: '#FF0000',
                        strokeOpacity: 0.8,
                        strokeWeight: 2,
                        fillColor: '#FF0000',
                        fillOpacity: 0.35
                    });

                    //new google.maps.Marker({
                    //    position: polygon.getBoundingBox().getCenter(),
                    //    map: map
                    //});
                    myPolygon.setMap(map);

                    google.maps.event.addListener(myPolygon, 'click', isWithinPoly);

                    //


                    if (marker) {
                        //Marker already created - Move it
                        marker.setPosition(newPoint);
                    } else {
                        //Marker does not exist - Create it
                        marker = new google.maps.Marker({
                            position: myPolygon,
                            map: map
                            
                        });
                    }
                    //Center the map on the new position
                    map.setCenter(newPoint);

                    //Update location sounds JSON
                    updateJSON(position.coords.latitude, position.coords.longitude);
                }, function () {
                    handleLocationError(true, infoWindow, map.getCenter(), true);
                });
            }, 5000);
            var countDown = 60;
            var countDownTimer = setInterval(function () {
                $("#count-down").html(countDown + " sekunder...");
                countDown--;
                if (countDown === 0) countDown = 60;
                if (exitInterval) {
                    clearInterval(countDownTimer);
                    $("#count-down").html("Det skjedde en feil, avslutter nedtelling.");
                }
            }, 1000);
            var soundTimer = setInterval(function () {
                //Load location sounds JSON
                new SOSV("../data/locations.json");
                console.log("Playing sound.");
                $("#mute-sound-button").css('display', 'inline-block');
                if (exitInterval) clearInterval(soundTimer);
            }, countDown * 1000);

        } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter(), false);
        }
    }

    function isWithinPoly(){
        var isWithinPolygon = google.maps.geometry.poly.containsLocation(newPoint);
        console.log("You are inside an area of interest.");
    }

    function updateJSON(lat, lng)
    {
        $.ajax({
            url: '@Url.Action("UpdateJSON","Home")',
            data: { lat: lat, lng: lng }
        }).done(function (isWithinPoly) {
            if (isWithinPoly === true) {
                $(".count-down-message").css('display', 'inline-block');
                $(".no-sound-message").hide();
            } else {
                $(".count-down-message").hide();
                $(".no-sound-message").css('display', 'inline-block');
            }
            console.log("JSON file updated with new position.");
        });
    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos, interval) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
            'Error: Geolokasjon tjenesten feilet.' :
            'Error: Din nettleser støtter ikke geolokasjon.');
        infoWindow.open(map);
        if (interval) {
            clearInterval(locationTimer);
            exitInterval = true;
        }
    }

    function muteSound() {
        Howler.mute();
        $("#mute-sound-button").hide();
        $("#unmute-sound-button").css('display', 'inline-block');
    }

    function unmuteSound() {
        Howler.unmute();
        $("#unmute-sound-button").hide();
        $("#mute-sound-button").css('display', 'inline-block');
    }
</script>
<!-- Load Google Maps API -->
@*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAL0vmWCIztR6B0zTPhFcHjEFoU2CqtVrw&callback=initMap" async defer></script>*@

<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?libraries=geometry&sensor=false&key=AIzaSyAL0vmWCIztR6B0zTPhFcHjEFoU2CqtVrw&callback=initMap" async defer></script>