<main class="main">
    <div id="map" class="map"></div>
</main>

<script>
    function initMap() {
        var norskfolkemuseum = { lat: 59.907216, lng: 10.685997 };
        var mapOptions = {
            zoom: 18,
            center: norskfolkemuseum,
            mapTypeId: 'satellite'
        };
        var map = new google.maps.Map(document.getElementById('map'), mapOptions);
        var marker = new google.maps.Marker({
            position: norskfolkemuseum,
            map: map
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAL0vmWCIztR6B0zTPhFcHjEFoU2CqtVrw&callback=initMap" async defer></script>