<main class="main">
    <div id="map" class="map"></div>
</main>

<script>
    function initMap() {
        //var norskfolkemuseum = { lat: 59.907216, lng: 10.685997 };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 18,
            //center: norskfolkemuseum,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });

        var marker = null;
        var infoWindow = new google.maps.InfoWindow;

        if (navigator.geolocation) {
            setInterval(function () {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var newPoint = new google.maps.LatLng(position.coords.latitude, 
                        position.coords.longitude);
                    if (marker) {
                        //Marker already created - Move it
                        marker.setPosition(newPoint);
                    } else {
                        //Marker does not exist - Create it
                        marker = new google.maps.Marker({
                            position: newPoint,
                            map: map
                        });
                    }
                    //Center the map on the new position
                    map.setCenter(newPoint);
                    //Load location sounds - work in progress
                    //new SOSV("../data/locations.json");
                }, function () {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            }, 2000);
        } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
        }
    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
            'Error: Geolokasjon tjenesten feilet.' :
            'Error: Din nettleser støtter ikke geolokasjon.');
        infoWindow.open(map);
    }

</script>
<!-- Load Google Maps API -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAL0vmWCIztR6B0zTPhFcHjEFoU2CqtVrw&callback=initMap" async defer></script>