<main class="main">
    <div id="map" class="map"></div>
</main>

<script>
    function init() {
        //Load location sounds
        new SOSV("../data/locations.json");
        if (navigator.geolocation) {
            var timer = setInterval(function () {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var currentPosition = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    //Draw Street View with current user position
                    initPano(currentPosition.lat, currentPosition.lng);
                }, function () {
                    //Couldn't get the position, fallback to Norsk Folkemuseum entrance and exit
                    initPano(59.907216, 10.685997);
                    clearInterval(timer);
                });
            }, 5000);
        } else {
            //Browser doesn't support Geolocation, fallback to Norsk Folkemuseum entrance
            initPano(59.907216, 10.685997);
        }
    }
    
    function initPano(lat, lng) {
        //Note: constructed panorama objects have visible: true
        //set by default.
        var panorama = new google.maps.StreetViewPanorama(
            document.getElementById('map'), {
                position: {lat: lat, lng: lng},
                addressControlOptions: {
                    position: google.maps.ControlPosition.BOTTOM_CENTER
                },
                linksControl: false,
                panControl: false,
                enableCloseButton: false
            });
    }
</script>

<!-- Load Google Maps API -->
<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyAL0vmWCIztR6B0zTPhFcHjEFoU2CqtVrw&callback=init" async defer></script>