<main class="main">
    <div id="dummy-map" class="dummy-map"></div>
    <div id="map" class="map"></div>
</main>

<script>
    var locationTimer;
    var exitInterval = false;
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 18,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });

        var marker = null;
        var infoWindow = new google.maps.InfoWindow;

        if (navigator.geolocation) {
            locationTimer = setInterval(function () {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var newPoint = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                    if (marker) {
                        //Marker already created - Move it
                        marker.setPosition(newPoint);
                    } else {
                        //Marker does not exist - Create it
                        marker = new google.maps.Marker({
                            position: newPoint,
                            map: map
                        });
                    }
                    //Center the map on the new position
                    map.setCenter(newPoint);

                    //Update location sounds JSON
                    updateJSON(position.coords.latitude, position.coords.longitude);
                }, function () {
                    handleLocationError(true, infoWindow, map.getCenter(), true);
                });
            }, 5000);
            var countDown = 60;
            var countDownTimer = setInterval(function () {
                $("#count-down").html(countDown + " sekunder...");
                countDown--;
                if (countDown === 0) countDown = 60;
                if (exitInterval) {
                    clearInterval(countDownTimer);
                    $("#count-down").html("Det skjedde en feil, avslutter nedtelling.");
                }
            }, 1000);
            var soundTimer = setInterval(function () {
                //Load location sounds JSON
                new SOSV("../data/locations.json");
                console.log("Playing sound.");
                $(".sound-button").css('display', 'inline-block');
                if (exitInterval) clearInterval(soundTimer);
            }, countDown * 1000);

        } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter(), false);
        }
    }

    function updateJSON(lat, lng)
    {
        $.ajax({
            url: '@Url.Action("UpdateJSON","Home")',
            data: { lat: lat, lng: lng }
        }).done(function (locationHasSound) {
            if (locationHasSound === true) {
                $(".count-down-message").css('display', 'inline-block');
                $(".no-sound-message").hide();
            } else {
                $(".count-down-message").hide();
                $(".no-sound-message").css('display', 'inline-block');
            }
            console.log("JSON file updated with new position.");
        });
    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos, interval) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
            'Error: Geolokasjon tjenesten feilet.' :
            'Error: Din nettleser støtter ikke geolokasjon.');
        infoWindow.open(map);
        if (interval) {
            clearInterval(locationTimer);
            exitInterval = true;
        }
    }

    function muteSound() {
        Howler.mute();
    }

</script>
<!-- Load Google Maps API -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAL0vmWCIztR6B0zTPhFcHjEFoU2CqtVrw&callback=initMap" async defer></script>